<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proberen.www.dao.CnShareMapper">

    <resultMap id="BaseResultMap" type="com.proberen.www.entity.CnShare">
            <id property="cnShareId" column="cn_share_id" jdbcType="VARCHAR"/>
            <result property="cnShareTitle" column="cn_share_title" jdbcType="VARCHAR"/>
            <result property="cnShareBody" column="cn_share_body" jdbcType="VARCHAR"/>
            <result property="cnNoteId" column="cn_note_id" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>
