<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>cloudnote</title>
	<script type="text/javascript" src="scripts/common/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/common/gl.js"></script>
	<script type="text/javascript" src="login.js"></script>
	<link rel="stylesheet" href="styles/login.css"/>
</head>
	<body>
		<div class="global">
			<div class="log log_in" tabindex='-1' id='dl'>
				<dl>
					<dt>
						<div class='header'>
							<h3>Login</h3>
						</div>
					</dt>
					<dt>
						<div class='letter'>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							User:&nbsp;<input type="text" name="" id="userName" tabindex='1'/>
						</div>
					</dt>
					<dt>
						<div class='letter'>
							Passwort:&nbsp;<input type="password" name="" id="passWord" tabindex='2'/>
						</div>
					</dt>
					<dt>
						<div>
							<input type="button" name="" id="login" value='&nbsp;Login&nbsp;' tabindex='3'/>
							<input type="button" name="" id="sig_in" value='Registrieren' tabindex='4'/>
						</div>
					</dt>
					<dt >
						<div class='letter' style="height:10px">
							<span id="errorMsg"style="color:#ff0000;"></span>
						</div>
					</dt>
				</dl>
			</div>
			<div class="sig sig_out" tabindex='-1' id='zc'>
				<dl>
					<dt>
						<div class='header'>
							<h3>Registierung</h3>
						</div>
					</dt>
					<dt></dt>
					<dt>
						<div class='letter'>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							User:&nbsp;<input type="text" name="" id="regist_username" tabindex='5' maxlength="20"/>
							<div class='warning' id='warning_1'><span>*</span></div>
						</div>
					</dt>
					<dt>
						<div class='letter'>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name:&nbsp;<input type="text" name="" id="nickname" tabindex='6'/>
						</div>
					</dt>
					<dt>
						<div class='letter'>
							Passwort:&nbsp;<input type="password" name="" id="regist_password" tabindex='7' maxlength="20"/>
							<div class='warning' id='warning_2'><span>*</span></div>
						</div>
					</dt>
					<dt>
						<div class='password'>
							&nbsp;Re-passwort:&nbsp;<input type="password" name="" id="final_password" tabindex='8' maxlength="20"/>
							<div class='warning' id='warning_3'><span>*</span></div>
						</div>
					</dt>
					<dt>
						<div>
							<input type="button" name="" id="regist_button" value='Registrieren' tabindex='9'/>
							<input type="button" name="" id="back" value='Zurück' tabindex='10'/>
						</div>
					</dt>
				</dl>
			</div>
		</div>
		<script type="text/javascript">
			function get(e){
				return document.getElementById(e);
			}
			get('sig_in').onclick=function(){
				get('dl').className='log log_out';
				get('zc').className='sig sig_in';
			}
			get('back').onclick=function(){
				get('zc').className='sig sig_out';
				get('dl').className='log log_in';
			}
		</script>		
	</body>
</html>